
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>翱翔守护</title>
</head>
<body>
<div><h1>欢迎！网站正在开发中</h1></div>
</body>

<!--<p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;
"><img style="padding-top:2px;" src="/images/index/相应静态资源目录下的国徽图标.png"><a class="banquan" style="color:#000;"
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=备案编号"
        target="_blank">京ICP备12345678900号</a></p>-->
   <p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;">     <a href="https://beian.miit.gov.cn/" target="_blank">陕ICP备2024028833号-1</a></p>


</html>

